## Problem 1  The Leaderboard / Առաջատարների աղյուսակը
English: You have the results of a 50-meter dash for 60 athletes.
Create an array of 60 random float values between 9.5 and 15.0 representing race times in seconds.
Use np.sort to display the times from fastest to slowest.Use a slicing technique on the sorted array to extract the 3 fastest "Medalist" times.Հայերեն: Դուք ունեք 60 մարզիկների 50 մետր վազքի արդյունքները:
Ստեղծեք 60 պատահական լողացող ստորակետով թվերի զանգված 9.5-ից 15.0-ի միջակայքում, որոնք ներկայացնում են վազքի ժամանակները վայրկյաններով:
Օգտագործեք np.sort՝ ժամանակները ամենաարագից մինչև ամենադանդաղը ցուցադրելու համար:Օգտագործեք սլայսինգի (slicing) տեխնիկան տեսակավորված զանգվածի վրա՝ լավագույն 3 «Մեդալակիրների» ժամանակները առանձնացնելու համար:[8:52 PM]

In [34]:
import numpy as np

# 1. Generate 60 race times / Ստեղծել 60 վազքի ժամանակներ
np.random.seed(1)
times = np.random.uniform(9.5, 15.0, 60)

# 2. Full sort (fastest to slowest) / Ամբողջական տեսակավորում (արագից դանդաղ)
sorted_times = np.sort(times)

# 3. Slice the top 3 / Առանձնացնել լավագույն 3-ը
medalists = sorted_times[:3]

print(f"Fastest 3 Times: {medalists}")

Fastest 3 Times: [9.50062906 9.60058553 9.60651827]

## Problem 2 The Inventory Linker / Պահեստի կապակցված գույքագրումը
English: You are managing a store. You have two separate arrays: one for Product IDs (1001 to 1050) and one for their Remaining Stock (50 random integers).
Generate the ID array and the stock array.Find the sequence of positions that would put the stock levels in order from least to most.Use that sequence to display the IDs and their stock levels together, ensuring the product with the lowest stock appears first.Հայերեն: Դուք կառավարում եք խանութ: Դուք ունեք երկու առանձին զանգված՝ մեկը Ապրանքի ID-ների համար (1001-ից 1050), մյուսը՝ դրանց Մնացորդային քանակի (50 պատահական ամբողջ թվեր):
Ստեղծեք ID-ների զանգվածը և քանակների զանգվածը:Գտեք դիրքերի այն հաջորդականությունը, որը քանակները կդասավորի նվազագույնից առավելագույնը:Օգտագործեք այդ հաջորդականությունը՝ ID-ները և դրանց քանակները միասին ցուցադրելու համար՝ ապահովելով, որ ամենաքիչ քանակով ապրանքը հայտնվի առաջինը:

In [1]:
import numpy as np

# 1. Setup IDs and Stock / Ստեղծել ID-ներ և քանակներ
ids = np.arange(1001, 1051)
stock = np.random.randint(0, 500, 50)

# 2. Get the indices that WOULD sort the stock / Ստանալ այն ինդեքսները, որոնք կտեսակավորեին քանակը
# This doesn't move the stock, it just gives us a 'map'
sort_map = np.argsort(stock)

# 3. Use the map to reorder both arrays / Օգտագործել քարտեզը երկու զանգվածները վերադասավորելու համար
sorted_ids = ids[sort_map]
sorted_stock = stock[sort_map]

# Display first 5 for verification / Ցուցադրել առաջին 5-ը ստուգման համար
print("Sorted Inventory (Lowest Stock First):")
for i in range(5):
    print(f"ID: {sorted_ids[i]} | Stock: {sorted_stock[i]}")

Sorted Inventory (Lowest Stock First):
ID: 1034 | Stock: 31
ID: 1021 | Stock: 34
ID: 1005 | Stock: 38
ID: 1050 | Stock: 51
ID: 1012 | Stock: 51

## Problem 3 The Multi-City Climate Anomaly Tracker / Բազմաքաղաքային կլիմայական անոմալիաների հետևողը
English: You are a climate scientist monitoring 10 different cities over a period of 50 days (a 500-point data grid).
Create a 2D array of shape (10, 50) containing random temperatures between -30 and 45.
For each city individually, isolate the 3 coldest days in its history. You must do this efficiently—do not perform a full sort of the 50-day history for any city.
Identify the absolute hottest day recorded in the entire 500-point dataset. Instead of just the temperature, return the exact City Index and Day Index where this heatwave occurred.
Create a "Masked Anomaly Map": Generate a new 2D array where only the 3 coldest days for each city retain their original temperature, and all other 47 days per city are replaced with np.nan.Հայերեն: Դուք կլիմայագետ եք, ով վերահսկում է 10 տարբեր քաղաքներ 50 օրվա ընթացքում (500 կետանոց տվյալների ցանց):
Ստեղծեք (10, 50) ձևի 2D զանգված, որը պարունակում է պատահական ջերմաստիճաններ -30-ից 45-ի միջակայքում:Յուրաքանչյուր քաղաքի համար առանձին, առանձնացրեք իր պատմության 3 ամենացածր ջերմաստիճանով օրերը: Դուք պետք է դա անեք արդյունավետ կերպով. մի՛ կատարեք որևէ քաղաքի 50-օրյա պատմության ամբողջական տեսակավորում:
Հայտնաբերեք ամբողջ 500 կետանոց տվյալների բազայում գրանցված բացարձակ ամենաշոգ օրը: Միայն ջերմաստիճանի փոխարեն վերադարձրեք այն Քաղաքի ինդեքսը և Օրվա ինդեքսը, որտեղ տեղի է ունեցել այդ շոգի ալիքը:
Ստեղծեք «Անոմալիաների դիմակավորված քարտեզ». ստեղծեք նոր 2D զանգված, որտեղ միայն յուրաքանչյուր քաղաքի 3 ամենացածր ջերմաստիճանով օրերը կպահպանեն իրենց սկզբնական ջերմաստիճանը, իսկ յուրաքանչյուր քաղաքի մյուս 47 օրերը կփոխարինվեն np.nan-ով:

In [6]:
np.argmax(data)

19

In [7]:
np.unravel_index(flat_max_idx, data.shape)

(0, 19)

In [60]:
import numpy as np

# 1. 10 cities x 50 days / 10 քաղաք x 50 օր
# np.random.seed(42)
data = np.random.randint(-30, 46, (10, 50))

# 2. Isolate 3 coldest days per city / Առանձնացնել յուրաքանչյուր քաղաքի 3 ամենացածր ջերմաստիճանները
# Use argpartition across axis 1 to get indices of 3 smallest values per row
coldest_indices = np.argpartition(data, kth=3, axis=1)[:, :3]

# 3. Absolute hottest day coordinate / Բացարձակ ամենաշոգ օրվա կոորդինատը
# argmax on a flattened array, then unravel to 2D
flat_max_idx = np.argmax(data)
city_idx, day_idx = np.unravel_index(flat_max_idx, data.shape)

# 4. Masked Anomaly Map / Անոմալիաների դիմակավորված քարտեզ
# Create an empty NaN array
anomaly_map = np.full(data.shape, np.nan)

# Use advanced indexing to fill only the coldest spots
# We need row indices matching the shape of coldest_indices
row_indices = np.arange(10).reshape(-1, 1)
anomaly_map[row_indices, coldest_indices] = data[row_indices, coldest_indices]

print(f"Absolute Heatwave: {data[city_idx, day_idx]}°C at City {city_idx}, Day {day_idx}")
print("\nAnomaly Map (First City - first 10 days):")
print(anomaly_map)

Absolute Heatwave: 45°C at City 0, Day 12

Anomaly Map (First City - first 10 days):
[[-30.  nan  nan  nan  nan  nan  nan  nan -28.  nan  nan  nan  nan  nan
   nan  nan -27.  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan]
 [-25.  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan -27.  nan  nan -24.
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan -30.  nan
   nan  nan  nan  nan -27.  nan  nan -30.  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan -30.  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan -29.  nan  nan  nan  nan -28.  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  -28.  nan  nan  nan -25.  nan  nan  nan  nan  nan  nan  nan -27.  nan
   nan  nan  nan  nan  nan  nan  nan  nan]
 [ nan  nan  nan  nan  nan  nan -30.  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan -25.  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  -25.  nan  nan  nan  nan  nan  nan  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan -17.  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan -15.  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan -25.  nan  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan -25.  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan -28.
   nan  nan  nan  nan  nan  nan -30.  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan -30.  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan -29.  nan -27.  nan  nan  nan  nan]
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  -29.  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  -29.  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
   nan  nan  nan  nan  nan  nan -24.  nan]]

In [39]:
data = np.random.randint(-30, 1146, (10, 50))
data

array([[ 975,  174,   -8,  112,  378,  168,  792,  133, 1051,  129,  752,
         959,  914,  592,  -11,  835,   -5,    4,  120,  293,  923,  322,
         144,  699,  574,  581, 1052,   34,  560,  842, 1056,  785,  253,
         425,  474,  496,  831,  917,  372,  432,  133,  403,  987,  187,
         358, 1094,  458,  184,  477,  511],
       [ 520,  560,  474,  792,  268,  802, 1062,  526, 1095,   43,  916,
          50, 1029, 1137,    9,  595,  389,  835,  817,  -15, 1137,  448,
         548,  900,  603,  959,  350, 1140,  502,  266,  278,  377,  500,
         817,  149, 1024,  404,  736,  306,  369,  930, 1109,  331,  889,
         506,  482,  474,  992,  146,  946],
       [ 442,  -30,  386,  394,  819,   53,  407,  771,  976,  613,   19,
          58,  680,  476,  622,  775,  817,  488,  823,  654,  421,  292,
        1022,  350,   54,  704,  251,  918,   29,  208,  499,  632,  512,
         788,  326,  631,   41,  485,  633,  750,  687,  728,  459,  512,
        1097,  862,  322, 1067,  137,  794],
       [ 479,  763,  961,  474,  965,  589,  468,  116,   99,  132,  356,
         627,  749,   23,  180, 1005,  437,  357,  309,  -30,  823,  405,
        1085,  467, 1078, 1127,  109, 1063,  130,  524,  801, 1145,  394,
         545,  129,  244,  138,   82,   74,  635, 1076,  339,  696, 1007,
          -9,   50,  576,  275,   21, 1136],
       [1004,  951,  797,  950, 1092,  779, 1029,   84,  154,  237,  918,
         804,  631,  604, 1088,  900,  671, 1079, 1054,  709,  213,  317,
         172,  618,  685,  179,  379,  952,   62,  566,  426,  234,  153,
          30,  642,  821,  637,  449,  406,  350,  848,  890,  857,  154,
         270, 1142,  119,  803, 1140,   38],
       [  95,  304, 1053,  666,  770,  279,  618,    3,  507,   37,  483,
         452,  874,  209,  765,  992,  603,  383,  815,  236, 1138,  561,
         940, 1122,  128,  229,  947,  674,  264, 1116, 1061,  128,  247,
          -4,  492,  807,  518, 1131,  342,  720,  354,   25,  461,  229,
         431,    7,  626,  251,  717,  861],
       [ 361,  922,  368,  537,  793,  791,  222,  -30, 1136,  798, 1093,
         265,  553,  932, 1063,  660,  540, 1071,  199,  493,  561,  193,
        1104,  588,  183,  845,  654,  168,  298,  848,  912,  926,  182,
         835,  601, 1082,  953,  219,  646,  864,  393,  263,   13,  668,
         739,  821,  639,  860,   18,  153],
       [1039,  490, 1023,  177,  757,  297,  355,  362,  315,  834,  214,
           8,  468,  573,  370,  983,  859,  333, 1036,  -22,  344,  475,
         962,  231,  598,   71, 1088,   -6,  144,  502, 1016, 1122,  637,
         969,  199, 1106,  454, 1039, 1032,  667, 1046,  790,  359,  418,
         407,  110,  789,  856,  536, 1099],
       [ 748, 1072,  736,  822,  545,  105, 1064,  289,  992,  910,  295,
         598,  977,  314,  752,  669,  442,  716, 1027,  989,  997,  779,
         841,  376,  843,  564,  646,   85,  210,   32, 1028, 1036,  851,
          60,  660,  248,  -28,  417,  843,   98,  231,  170,  918, 1003,
         320,  323,  -19, 1092,  266,  814],
       [1081,  159,  612,  820,  715,  708,   -1,   92,   50,  345,  609,
         -29,  595,  290,  685,  967,  688,  845,  160,   46, 1042,    6,
         752,  555,  887,  341, 1065,  391,  882, 1086,  584, 1003,  289,
         735,   91, 1135,  932,  581,  610, 1028,  168,  -14,  564,  -16,
         647,  354,  733,  659,  687,  581]])

In [41]:
np.max(data)

1145

In [40]:
np.argmax(data)

181

In [42]:
# 3. Absolute hottest day coordinate / Բացարձակ ամենաշոգ օրվա կոորդինատը
# argmax on a flattened array, then unravel to 2D
flat_max_idx = np.argmax(data)
city_idx, day_idx = np.unravel_index(flat_max_idx, data.shape)

In [43]:
print(flat_max_idx)
print(city_idx)
print(day_idx)

181
3
31

In [ ]:
data.shape